<div class="contenedor-inicio">
  <h1>👋 Bienvenido a TransportesApp</h1>
  <p>El sistema central de gestión logística y distribución.</p>

  <div class="grid-accesos">
    <div class="tarjeta-acceso" routerLink="/almacenes">
      <h2>📦 Almacenes</h2>
      <p>Gestiona tu red de hubs logísticos y direcciones.</p>
    </div>

    <div class="tarjeta-acceso" routerLink="/vehiculos">
      <h2>🚚 Vehículos</h2>
      <p>Controla la flota de camiones y sus capacidades.</p>
    </div>
  </div>
</div>
