<nav class="navbar">
  <div class="logo" routerLink="/">
    <span style="font-size: 1.5rem">🏢</span> TransportesApp
  </div>

  <div class="enlaces">
    <a
      routerLink="/"
      routerLinkActive="activo"
      [routerLinkActiveOptions]="{ exact: true }"
      >🏠 Inicio</a
    >
    <a routerLink="/almacenes" routerLinkActive="activo">📦 Almacenes</a>
    <a routerLink="/vehiculos" routerLinkActive="activo">🚚 Vehículos</a>
    <a routerLink="/productos" routerLinkActive="activo">🏷️ Productos</a>
    <a routerLink="/conductores" routerLinkActive="activo">🧑 Conductores</a>
    <a routerLink="/clientes" routerLinkActive="activo">👤 Clientes</a>
    <a routerLink="/fabricas" routerLinkActive="activo">🏭 Fábricas</a>
    <!--<a routerLink="/pedidos" routerLinkActive="activo">🛒 Pedidos</a>-->
  </div>
</nav>

<main style="padding: 20px">
  <router-outlet></router-outlet>
</main>
